@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.mont-alternates {
  font-family: 'Montserrat Alternates', sans-serif;
}
